{{=<% %>=}}
/**
<%#params%>
 * @param {<%type.declaration%>} <%name%>
<%/params%>
 * @return {<%returnType.declaration%>}
 */
var <%methodName%> = function(<%#params%><%^-first%>, <%/-first%><%name%><%/params%>) {

};
